{%load static%}
{% block sidebar %}
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="{% static 'admin panel/img/sidebar-1.jpg'%}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Creative Tim
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/admin_panel">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/all_users">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/admin_posts_table">
              <i class="material-icons">content_paste</i>
              <p>Table List</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/admin_posts_table">
              <i class="material-icons">library_books</i>
              <p>Posts</p>
            </a>
          </li>
    
          <li class="nav-item ">
            <a class="nav-link" href="/admin/all_tags">
              <i class="fas fa-hashtag"></i>
              <p>Tags</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/categories">
              
              <i class="fas fa-tags"></i>
              <p>category</p>
            </a>
          </li>
      
        </ul>
      </div>
    </div>
{% endblock sidebar %}    
