{% load static %}
<aside class="col-lg-4">
    <!-- Widget [Search Bar Widget]-->
    <div class="widget search bg-info rounded border border-danger">
      <header>
        <h3 class="h6 text-light" style=" font-weight: bold; font-size: 30px; font-family: 'Share';">Search the blog</h3>
      </header>
      <form action="#" class="search-form">
        <div class="form-group">
          <input type="search" placeholder="What are you looking for?">
          <button type="submit" class="submit"><i class="icon-search"></i></button>
        </div>
      </form>
    </div>
    <!-- Widget [Latest Posts Widget]        -->
    <div class="widget latest-posts bg-info rounded border border-danger">
      <header>
        <h3 class="h6 text-light"style=" font-weight: bold; font-size: 30px; font-family: 'Share';">Latest Posts</h3>
      </header>
      <div class="blog-posts"><a href="#">
          <div class="item d-flex align-items-center bg-light p-2 rounded-pill border border-danger">
            <div class="image rounded-pill border border-danger"><img src="{% static 'img/small-thumbnail-1.jpg' %}" alt="..." class="img-fluid"></div>
            <div class="title p-1"><strong>Alberto Savoia Can Teach You About</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i> 500</div>
                <div class="comments"><i class="icon-comment"></i>12</div>
              </div>
            </div>
          </div></a><a href="#">
          <div class="item d-flex align-items-center bg-light p-2 rounded-pill border border-danger">
            <div class="image rounded-pill border border-danger"><img src="{% static 'img/small-thumbnail-2.jpg' %}" alt="..." class="img-fluid"></div>
            <div class="title p-1"><strong>Alberto Savoia Can Teach You About</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i> 500</div>
                <div class="comments"><i class="icon-comment"></i>12</div>
              </div>
            </div>
          </div></a><a href="#">
          <div class="item d-flex align-items-center bg-light p-2 rounded-pill border border-danger">
            <div class="image rounded-pill border border-danger"><img src="{% static 'img/small-thumbnail-3.jpg' %}" alt="..." class="img-fluid"></div>
            <div class="title p-1"><strong>Alberto Savoia Can Teach You About</strong>
              <div class="d-flex align-items-center">
                <div class="views"><i class="icon-eye"></i> 500</div>
                <div class="comments"><i class="icon-comment"></i>12</div>
              </div>
            </div>
          </div></a></div>
    </div>
    <!-- Widget [Categories Widget]-->
    <div class="widget categories bg-info rounded border border-danger">
      <header>
        {% for cat in all %}
        <div class="item d-flex justify-content-between">
         
          <p>{{cat.cat_name}}</p>
          <a href="/subscribe/{{user.id}}/{{cat.id}}">
           <button id="myDIV{{cat.id}}" onclick="myFunction({{cat.id}})" type="submit" name="cat_id" value="{{Category.id}}}" class="rounded-pill border bg-warning text-light">
            Subscribe
           </button>
          </a>
           <br>
           </div>
        {% endfor %}
    </div>
    <!-- Widget [Tags Cloud Widget]-->
    <div class="widget tags bg-info rounded border border-danger">       
      <header>
        <h3 class="h6 text-light" style=" font-weight: bold; font-size: 30px; font-family: 'Share';">Tags</h3>
      </header>
      <ul class="list-inline">
        {% for tag in tags %}
        <li class="list-inline-item"><a href="#" class="tag">{{tag.tag_name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>